body {
    background-color: #F6F4F3;
    overflow-y: scroll;
    overflow-x: hidden;
}
div.pagewrap {
    padding-top: 70px;
    padding-bottom: 75px;
}
h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
h2 {
    font-family: 'oxygen', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
p {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
button {
    cursor: pointer;
}
/*Navigation Bar & Headers*/
.app-header {
    background-color: white;
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    font-family: 'Quicksand',sans-serif;
    font-size: 18px;
    z-index: 5;
    width: 100vw;
    padding: 1em;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    text-transform: uppercase;
}
.app-header span button {
    height: 20px;
    width: 20px;
}
#article-pg-header .header-text-wrap {
    margin-left: 3em;
}
span.header-buttons,#cat-pg-header span {
    padding-left: 1em;
    padding-right: 2em;
    padding-top: 0.15em;
}
.app-header button {
    float: left;
    margin-left: 1em;
}
button.save-btn {
    background-image: url(../icons/bookmark-thin.svg);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
}
button.share-btn {
    background-image: url(../icons/share.svg);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
}
button#search {
    background-image: url(../icons/search.svg);
    height: 25px;
    width: 25px;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
}
button#back {
    background-image: url(../icons/arrow-left.svg);
    height: 25px;
    width: 25px;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
}
.header-text-wrap {
    float: right;
    margin-right: 2em;
    text-align: right;
}
.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: white;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items:stretch;
    box-shadow: 0px -1px 4px rgba(0,0,0,0.4);
}
a.navlink {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}
.navlink img {
    height: 1.5em;
    width: auto;
    margin-bottom: 10px;
}
.nav span {
    font-family: 'quicksand', sans-serif;
    font-weight: 300;
    font-size: 12.5px;
    text-align: center;
}
#grid-icon {
  background: url("../icons/grid.svg");
}
#newspaper-icon {
  background: url("../icons/newspaper.svg");
}
#settings-icon {
  background: url("../icons/settings.svg");
}
#home-icon {
  background: url("../icons/home.svg");
}
#saved-icon {
  background: url("../icons/bookmark.svg");
}
/*Category Selection Page*/
.category-navlink {
    width: 15em;
    padding: 1em;
    margin-bottom: 1em;
}
.category-navlink span {
    font-family: 'oxgen', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 18px;
}
/*Sections*/
section header {
    background-color: #FF8A00;
    color: white;
    font-family: 'oxygen', sans-serif;
    font-size: 18px;
    display: inline;
    padding-left: 1.5em;
    padding-right: 1.5em;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 1em;
}
@media only screen
and (min-width: 700px) {
    section.top-news,{
        display: flex;
        flex-direction: column;
    }
    .l-thumbnail,.thumbnail-h {
        width: 90vw !important;
    }
    .l-thumbnail img {
        min-height: 250px !important;
        width: auto;
        background-size: cover;
    }
    section ul {
        align-content: center !important;
    }
    .h-scroll-content {
        width: 100vw !immportant;
    }
}
section ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

section.for-you, section.latest-news-list, section.related {
    padding-top: 1em;
    padding-bottom: 1em;
}
section.article-content {
    padding: 0.75em;
}
section.related {
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.for-you .thumbnail-h {
   box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
/*Thumbnails*/
.l-thumbnail {
    position: relative;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    width: 100vw;
    margin-top: 15px;
}
.l-thumbnail img {
    width: inherit;
    min-height: 17em;
    background-repeat: no-repeat;
}
span.l-thumbnail-cat {
    color: white;
    font-family: 'oxygen', sans-serif;
    font-size: 16px;
    position: absolute;
    top: 5%;
    right: 5%;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    text-align: right;
    z-index: 1;
}
.l-thumbnail-titles {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: black;
    padding: 0.75em;
    background-color: white;
}
ul.h-thumbnail-list {
    width: 100vw;
    padding-left: 0;
}
ul.h-thumbnail-list li {
    margin-top: 10px;
    margin-top: 10px;
}
.thumbnail-h {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    padding: 10px;
    background-color: white;
    width: 100vw;
}
.thumbnail-h-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 65%;
}
div.thumbnail-h img {
    min-height: 4.5em;
    width: 7em;
    margin-right: 1.5em;
    margin-left: 1.5em;
}
.thumbnail-h-buttons {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.thumbnail-h-buttons button {
    height: 18px;
    width: 18px;
}
.h-scroll-wrap {
    width: 100vw;
    overflow-x: scroll;
    margin-top: 1em;
}
.h-scroll-content {
    min-width: 135vw;
    max-width: 160vw;
    padding: 0.5em;
    padding-left: 0;
    display: flex;
    flex-direction: row;
}
.sm-thumbnail-block {
    width: 160px;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: black;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    margin-right: 10px;
}
.sm-thumbnail-block img {
    width: inherit;
    height: 90px;
}
.sm-thumbnail-titles {
    padding: 10px;
    background-color: white;
}
.latest-news-block {
    padding: 10px;
    width: 100vw;
}
.latest-title {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 16px;
}
.latest-time {
    color: #5E6266;
    font-family: 'oxygen', sans-serif;
    font-size: 12px;
    font-family: 400;
}
/*Article Page*/
.article-top img {
    width: 100vw;
    min-height: 17rem;

}
.auth-date-time {
    font-family: 'oxygen',sans-serif;
    font-weight: 400;
    color: #5E6266;
    font-size: 14px;
    margin-bottom: 5px;
}
.author-info {
    padding: 0.5em;
    background-color: white;
}
span.article-title {
    height: auto;
    padding-left: 0.5em;
}
/*Images and ID's*/
#edu-cost-img {
  background: url("../images/edu.png");
  background-size: inherit;
}
#refinery-img {
  background: url("../images/refinery-p-500.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 95% 25%;
}
#meetingroom-img {
  background: url("../images/meeting-business-p-500.png");
  background-repeat: no-repeat; background-size: cover;
}
#stock-graph-img {
  background: url("../images/stocks-p-500.png");
  background-repeat: no-repeat; background-size: cover;
}
#tv-netlfix-img {
  background: url("../images/tv.png");
  background-repeat: no-repeat; background-size: cover;
}
#larry-king-img {
  background: url("../images/larry-king.png");
  background-repeat: no-repeat; background-size: cover;
}
#minfulness-app-img {
background: url("../images/woman-on-phone-p-500.png");
background-repeat: no-repeat; background-size: cover;
}
#woman-watching-tv-img {background: url("../images/woman-watching-tv.png");
background-repeat: no-repeat; background-size: cover;}
#bookshelf-img {background: url("../images/books.png");
background-repeat: no-repeat; background-size: cover;
}
#coffee-illustration-img {background: url("../images/coffee.png");
background-repeat: no-repeat; background-size: cover;
}
#woman-with-dog-img {background: url("../images/woman-holding-dog-p-500.png");
background-repeat: no-repeat; background-size: cover;}
#baking-with-kid-img {background: url("../images/baking-p-500.png");}
#illustration-2020-img {background: url("../images/2020-illustration.png");
background-repeat: no-repeat; background-size: cover;
}
#congress-dark-bg-img {background: url("../images/congress-darkimg.png");
background-repeat: no-repeat; background-size: cover;
}
#biden-and-harris-img {background: url("../images/biden-harris-p-500.png");
background-repeat: no-repeat; background-size: cover;
}
#trump-img {background: url("../images/trump-p-500.png");
background-repeat: no-repeat; background-size: cover;
}
#vax-img {background: url("../images/vaccine-p-500.png");
background-repeat: no-repeat; background-size: cover;
}
#hurricane-sign-img {
background: url("../images/hurricane-sign-p-500");
background-repeat: no-repeat; background-size: cover;
}
#observatory-img {
background: url("../images/observatory-p-500.png");
background-repeat: no-repeat; background-size: cover;
}
#greg-abbott-img {
background: url("../images/g-abbott-p-500.png");
background-repeat: no-repeat; background-size: cover;
}
#empty-classroom-img {background: url("../images/empty-classroom-p-500.png");
background-repeat: no-repeat; background-size: cover;
}
#tx-capitol-bldg-img {background: url("../images//tx-capitol-p-500.png");
background-repeat: no-repeat; background-size: cover;
}
#russia-binary-illustration-img {background: url("../images/russia-binary-p-500.png");
background-repeat: no-repeat; background-size: cover;
}
#covid-asia-train-img {background: url("../images/covid-asia-p-500.png");
background-repeat: no-repeat; background-size: cover;
}
